<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>subHeader</title>

</head>

<body>

	<div th:fragment="bookingHomeSubHeader">

		<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

			<div class="container">

				<div class="collapse navbar-collapse" id="navbarResponsive">

					<ul class="nav navbar-nav pull-sm-left">
						<li class="nav-item active" id="navbar__go__booking"><a class="nav-link"
							onclick='shop_main_search()' style="cursor: pointer;">예약하기</a></li>
					</ul>
					
					<ul class="nav navbar-nav navbar-logo mx-auto"></ul>
					
					<ul class="nav navbar-nav pull-sm-right">
						<li class="nav-item"><a class="nav-link" th:href="@{/bookinghome/status/all}">전체</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/bookinghome/status/0}">예약</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/bookinghome/status/1}">완료</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/bookinghome/status/2}">취소</a></li>
					</ul>

				</div>
			</div>
		</nav>

	</div>

</body>
</html>