<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>subHeader</title>

</head>

<body>

	<div th:fragment="bookingSubHeader">

		<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

			<div class="container">
				
				<div class="collapse navbar-collapse" id="navbarResponsive">

					<ul class="nav navbar-nav pull-sm-left">
						<li class="nav-item"><a class="nav-link" style="cursor: pointer;" onclick="goBack();">뒤로가기</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-logo mx-auto">
						<li class="nav-item active" id="navbar__shop__name"><a class="nav-link" href="#">[[${shop.sName}]]
						</a></li>
					</ul>

					<ul class="nav navbar-nav pull-sm-right">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/shop/shopmain}">내 주변</a>
					</ul>

				</div>
			</div>
		</nav>

	</div>

</body>
</html>