<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>subHeader</title>

<style type="text/css">

ul{
	list-style: none;
	font-size: 25px;
}

li{
	float:left;
	margin-left: 15px;
}

</style>

</head>

<body>

	<div th:fragment="bookingSubHeader">
		<nav>
			<ul>
				<li><input type="button" onclick="goBack();" value="뒤로가기"></li>
				<li><a style="cursor:pointer" onclick='shop_home()'><img class="navbar__logo__image" th:src="@{'/static/img/main/logo.png'}">C&D</a></li>
				<li><a href="#" class="headerMenu"><span th:text="${shop.sName}"></span></a></li>
				<li><a th:href="@{/cndsalon/shop/shopmain}">샵검색</a></li>
			</ul>
		</nav>
		<hr>
	</div>

</body>
</html>