<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>subHeader</title>

</head>
<body>
	<div th:fragment="footer">
		<div class="footer">
			<nav class="navbar navbar-expand navbar-dark bg-dark static-bottom">

				<ul class="nav navbar-nav navbar-logo mx-auto">
					<li><p class="footer__copyright">
							This is our final project called C&D Hairshop, Enjoy it! <br />
							<a href="#" class="footer__link">Copyright &copy; by KJH SWS
								SHJ LCW JJK</a>
						</p></li>
				</ul>

			</nav>
		</div>
	</div>
</body>
</html>