<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!-- jQuery -->
<script th:src="@{'/webjars/jquery/3.5.1/jquery.min.js'}" charset="UTF-8"></script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4f67184145c65bc8f7f6c27e668c43b2&libraries=services"></script>

<!-- javascript 외장화  -->
<script th:src="@{'/static/js/shoplocation.js'}" charset="UTF-8"></script>
<title>Test ajax (kakao REST API)</title>
</head>
<body>
<h1>SHOP DETAIL TEST</h1>
<hr>
<table border='1'>
        <tr>
            <td>매장 코드</td>
            <td>매장 이름</td>
            <td>매장 주소</td>
            <td>매장 전화번호</td>
            <td>매장 운영 시간</td>
            <td>매장 소개글 제목</td>
            <td>매장 소개글 내용</td>
            <td>주차가능 여부</td>
            <td>Free wifi</td>
            <td>지하철근처</td>
            <td>추가요금 없음</td>
            <td>픽업 가능</td>
            <td>대형견 가능</td>
            <td>디자이너 평점 총합 의 평균</td>
        </tr>
        <tr>
            <td th:text="${shop.sCode}">
            </td>
            <td th:text="${shop.sName}"></td>
            <td th:text="${shop.sAddr}"></td>
            <td th:text="${shop.sPhone}"></td>
            <input type="hidden" th:value="${shop.sGpsX}" />            
            <input type="hidden" th:value="${shop.sGpsY}" />
            <td th:text="${shop.sTime}"></td>
            <td th:text="${shop.sTitle}"></td>
            <td th:text="${shop.sContent}"></td>            
            <th:block>
            <td th:if="${shop.sParking==true}">가능</td>
            <td th:unless="${shop.sParking==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shop.sWifi==true}">가능</td>
            <td th:unless="${shop.sWifi==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shop.sSubway==true}">가능</td>
            <td th:unless="${shop.sSubway==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shop.sCharge==true}">가능</td>
            <td th:unless="${shop.sCharge==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shop.sPickup==true}">가능</td>
            <td th:unless="${shop.sPickup==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shop.sBigdog==true}">가능</td>
            <td th:unless="${shop.sBigdog==true}">불가</td>
            </th:block>           
            <td th:text="${shop.sAvgScore}"></td>                                   
        </tr>
	
</table>
<input type="button" value="예약하기" th:onclick="'window.location.href = \'' + @{/booking} + '\''" />
</body>
</html>