<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SHOP List TEST</title>
</head>
<body>
<h2>SHOP List TEST</h2><p>
<a href="/cndsalon/getLocation" >자기 위치 확인 하기</a>
<p>
<p>
<div id="map" style="width:500px;height:400px;"></div>
	
	<script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=3c9880671d9e20c5afbc27db5eb2beed&libraries=services"></script>
	<script th:src="@{'/webjars/jquery/3.5.1/jquery.min.js'}" charset="UTF-8"></script>
    <script th:src="@{'/static/js/shop/shop_search_main.js'}" charset="UTF-8"></script>
	
	    <table border="1">
        <tr>
            <td>매장 코드</td>
            <td>매장 이름</td>
            <td>매장 주소</td>
            <td>매장 운영 시간</td>
            <td>매장 소개글 제목</td>
            <td>주차가능 여부</td>
            <td>사진 파일(원래)</td>
            <td>디자이너 평점 총합 의 평균</td>
            <td>거리순</td>
        </tr>
       
        <tr th:each="shoplist : ${list}"><!-- shoplist ==> shop변경 -->
            <td th:id="${shoplist.sCode}">
            <!-- a tag href parameter 넘기기(thymeleaf) -->
            <a th:href="@{'/getOne?sCode='+${shoplist.sCode}}">
						   [[${shoplist.sCode}]]</a></td>
            <td th:text="${shoplist.sName}"></td>
            <td th:text="${shoplist.sAddr}"></td>
            <input type="hidden" th:value="${shoplist.sGpsX}" />            
            <input type="hidden" th:value="${shoplist.sGpsY}" />
            <td th:text="${shoplist.sTime}"></td>
            <td th:text="${shoplist.sTitle}"></td>           
            <th:block>
            <td th:if="${shoplist.sParking==true}">가능</td>
            <td th:unless="${shoplist.sParking==true}">불가</td>
            </th:block>
            <td th:text="${shoplist.sPhotopath}+${shoplist.sPhotoname}+${shoplist.sPhotonameOrigin}"></td>
            <td th:text="${shoplist.sAvgScore}"></td>
            <td th:text="${shoplist.sLocale}"></td>                                   
        </tr>
    </table>
</body>
</html>