<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SHOP List TEST_AJAX</title>
</head>
<body>
<h2>SHOP List TEST_AJAX</h2><p>

<!-- <div id="map" style="width:500px;height:400px;"></div> -->
	<script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=3c9880671d9e20c5afbc27db5eb2beed&libraries=services"></script>
	<script th:src="@{'/webjars/jquery/3.5.1/jquery.min.js'}" charset="UTF-8"></script>
    <script th:src="@{'/static/js/shop/shop_search_main_ajax.js'}" charset="UTF-8"></script>
		<input type="hidden" id="latitude_my_x" />
		<input type="hidden" id="latitude_my_y" />
		<div id="map" style="width:500px;height:400px;"></div>
	    <table id="resultlist" border="1">
        <tr>
            <td>매장 코드</td>
            <td>매장 이름</td>
            <td>매장 주소</td>
            <td>매장 운영 시간</td>
            <td>주차가능 여부</td>
            <td>사진 파일(원래)</td>
            <td>디자이너 평점 총합 의 평균</td>
            <td>거리순</td>
        </tr>
 		<tr id="resultlist" >
 		
 		</tr>
	ssss
    </table>
    
</body>
</html>