<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">

</head>
<body>
				<div id="wrapper" align="center">
					<div id="logo" >
						<a th:href="@{/member/login}"><img alt="애니멀살롱로고" src="#"></a>
					</div>	
					<br />
					[[${id}]]가입을 축하드립니다!
					
					<div>
					
						<form method="post" th:action="@{/member/profile}"enctype="multipart/form-data" id="fileUploadForm">
								
								<div id="preview" class="profile_photo">     
     							<img alt="defaultImg"	 th:src=@{/static/img/member/profile_default.png}  id="selectProfile" width=150 height=150>
								</div>
						
								
								<div align="right">														
									<!-- <input type="file" name="pFile" id="profile" accept=".jpg, .jpeg, .png, .bmp"  style="display:none;" onclick="changeValueprofile"> -->
									<input type="file" name="pFile" id="profile" accept=".jpg, .jpeg, .png, .bmp"  >
									<!--  <input type="submit" value="저장"> 변경이있을때만 노출하도록-->
									<!-- 저장하기 버튼으 controller로 바꿀예정 -->
								</div>
								<div id="profileErrorMsg"></div>
								
								<div align="center">
									애니멀 살롱으로<br />
									어울리는 스타일 찾고<br />
									간편하게 예약하세요<br />
									<input type="submit" value="서비스 이용하기" id="btnSubmit" >
								</div>
																					
						</form>
						
					</div>
					
				</div>
				

<div th:replace="fragments/footer::footer" ></div>
</body>
</html>