<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header::header">
</head>
<body>

					<div align="center">					
					
						<!-- 로고 -->
						<div id="logo" >
							<a th:href="@{/}"><img width="100px" height="100px" th:src="@{'/static/img/main/logo.png'}" alt="Logo" ></a>
						</div>	
						<form th:action="@{/member/login/check}" method="post">
						
					
						<div>					 
								<input type="text" id="login_id" name="username" required autofocus  placeholder="아이디 또는 이메일"/>
						</div>
						<div>
								<input type="password" id="login_password" name="password" required  placeholder="비밀번호"/>
						</div>
						
						<!-- AlertMsg -->
						<div th:if="${param.error}">       							
       							<span th:text="${errorMessage}"></span> 
       					</div>
						
						<div>
								<input type="submit" value="로그인">
						</div>
						
							<!-- CSRF 토큰 -->
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
												
						</form>

						
						
						<!-- 소셜로그인 -->
						<div id="sns_login">
							<a th:href="@{/oauth2/authorization/google}" class="btn btn-success active" role="button">Google Login</a><br />		
							<a th:href="@{/oauth2/authorization/naver}" class="btn btn-secondary active" role="button">Naver Login</a><br />
                    		<a th:href="@{/oauth2/authorization/kako}" class="btn btn-secondary active" role="button">Kakao Login</a><br />
                    	</div>	
                    	
                    	<div id="find_info_sign" style="padding: 50">
                    		<a th:href="@{/member/findInfo}" id="findIdPwd">아이디/비밀번호찾기</a>
                    		<a th:href="@{/member/terms}">회원가입</a>                    	
                    	</div>
					
					</div>

	<!-- footer 영역 -->
<div th:replace="fragments/footer::footer" ></div>
</body>
</html>