<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header">
</head>
<body>

		<div id="logo" align="center">
			<a th:href="@{/}"><img width="100px" height="100px" th:src="@{'/static/img/main/logo.png'}" alt="Logo" ></a>
		</div>
					
					<div id="subtitle" align="center">
					<h1 class="display-5 mb-3">회원가입</h1>
					</div>
					
					
		<div class="container">
			<form id="memberInform">			
			
				<div class="form-group">					
					<label >아이디</label> 
					<input type="text" id="id" name="id"  required  class="form-control">
				</div>
				<div id="idErrorMsg"></div>
				
				<div class="form-group">
					비밀번호 
					<input type="password" name="pwd" id="pwd" required placeholder="최소 8자리 이상 영문 대소문자와 특수문자 포함"  class="form-control">
				</div>
				<div id="pwdErrorMsg"></div>				
				
				
				<div class="form-group">	
					비밀번호 재확인
					<input type="password" name="2ndPwd"   id="2ndPwd" required class="form-control">
				</div>
				<div id="2ndPwdErrorMsg"></div>
				
				
				<div class="form-group">	
					이름 
					<input type="text" name="name" id="name"  required  class="form-control">
				</div>
				<div id="nameErrorMsg"></div>				
				
				<div class="form-group">
					주소
					<input type="text" id="zip"  placeholder="우편번호" readonly class="form-control">
					<input type="button" id="findZip" value="우편번호 찾기" readonly>	<br /> 						
					<input type="text" id="roadAddress"  placeholder="도로명주소" readonly class="form-control">					
					 <input type="text" id="detailAddress" placeholder="상세주소" required maxlength="20" class="form-control">
				</div>				
				<div id="detailAddressErrorMsg"></div>
				
								
				<div class="form-group">	휴대번호
				 <input type="text" placeholder="'-'없이 입력" name="phone" id="phone" class="form-control">
				<span class=certification></span>				
				<div id="phoneErrorMsg"></div>
				</div> 
				
				
				<div class="form-group">
					이메일 
					<input type="text" name="email_id" id="email_id" required class="form-control">
					<input id="txtDomain" name="txtDomain"  class="form-control">
					 <select name=domain id="domain" required class="form-control">
						<option selected>----직접입력----
						<option value="@naver.com">네이버
						<option value="@gamil.com">구글
						<option value="@hanmail.net">한메일
						<option value="@kakao.com">카카오
						<option value="@nate.com">네이트
						<option value="@outlook.com">아웃룩
					</select>
				</div>
				<div id="emailErrorMsg"></div>

				<div class="form-group">
					<input type="text" name="nickname"  id="nickname"   required	maxlength="12" placeholder="최대 10자 영어 한글 숫자만 가능" class="form-control">
					<input type="checkbox" id="actNickname"  name="actNickname"> 별명으로 활동하기
				</div>
				<div id="nicknameErrorMsg"></div>

				
			</form>
			
			
			<button  type="button"class="btn-outline-primary" id="mamber_save">등록</button>
			<input type="reset"	 class="btn btn-secondary" value="취소">
		</div>



<div th:replace="fragments/footer::footer"></div>








</body>
</html>