<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>예약내역</title>

</head>
<body>
	<!-- Main Home Header 삽입 예정 -->
	
	<!-- bookingHomeSubHeader 삽입 -->
	<div th:insert="~{booking/sub/bookingHomeSubHeader::bookingHomeSubHeader}"></div>
	<!-- 예약내역테이블(예약 / 완료 / 취소) -->
	<table border="1">
		<tr>
			<th>NO</th>
			<th>예약상태</th>
			<th colspan="2">시술종류</th>
			<th>매장<br/>( 디자이너 )</th>
			<th>일정</th>
			<th>요청</th>
		</tr>
		<tr th:each="view : ${bView}">
			<td th:text="${view.bCode}"></td>
			<td th:if="${view.bStatus == '0'}" th:text="예약"></td>
			<td th:if="${view.bStatus == '1'}" th:text="완료"></td>
			<td th:if="${view.bStatus == '2'}" th:text="취소"></td>
			<td><img th:src="@{'/upload_image/'+${view.mpPath}+${view.mpOrgName}}" width=80 height=80 /></td>
			<td>[[${view.mName}]]<br/>[[${view.bPrice}]]원</td>
			<td>[[${view.sName}]]<br/>([[${view.dName}]])</td>
			<td>[[${view.bDate}]]<br/>[[${view.bTime}]]</td>
			<td>
			<th:block th:if="${view.bStatus == '0'}">
			<input type="button" value="시간변경" th:onclick="|time_change_booking(${view.bCode});|"><br/>
			<input type="button" value="예약취소" th:onclick="|cancel_booking(${view.bCode});|">
			</th:block>
			<th:block th:if="${view.bStatus == '1'}">
			<input type="button" value="리뷰쓰기" onclick=""><br/>
			<a th:href="@{/booking/shop/__${view.sCode}__/type/강아지}"><input type="button" value="재예약"></a><br/>
			<input type="button" value="내역삭제" th:onclick="|delete_booking_view(${view.bCode});|">
			</th:block>
			<th:block th:if="${view.bStatus == '2'}">
			<input type="button" value="내역삭제" th:onclick="|delete_booking_view(${view.bCode});|">
			</th:block>
			</td>
		</tr>
	</table>
	<script th:src="@{/static/js/jquery-3.5.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/js/booking/bookingHome.js}" type="text/javascript"></script>
	<script th:src="@{/static/js/shop/shop_search_my.js}" type="text/javascript"></script>

</body>
</html>