<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>결제 페이지</title>
</head>
<body>
	<div class="wholeContainer">
		<div class="payHeader">
			<a href="/Booking/main" class="mainLogo"><img src="#" alt="logo_img"></a>
		</div>
		
		<div class="content_left">
			<ul>
				<li>
						<a href="#">이전페이지로</a>
						<img src="#" alt="goPrevPage_Img">
					</a>
				</li>
				<li>
					<h3>예약 요청</h3>
				</li>
			</ul>
			<hr>
			<table class="booking_info" border="1">
				<colgroup>
					<col width="20%"/>
					<col width="80%"/>
				</colgroup>
				<thead>
					<tr>
						<th scope="col" colspan="2">예약정보</th>
					</tr>
					<tr>
						<th class="menuImg"><img alt="menuImg" src="#"></th>
					</tr>
				</thead>
				<tbody>
					<tr><td>일정</td><td>2021년 1월 1일 금 11:00</td></tr>
					<tr><td>매장</td><td>몰리스펫샵</td></tr>
					<tr><td>디자이너</td><td>이찬우</td></tr>
					<tr><td>메뉴</td><td>컷컷컷</td></tr>
					<tr><td>예약자</td><td>이차누</td></tr>
					<tr><td>예상소요시간</td><td>2시간</td></tr>
				</tbody>
			</table>
			<hr>
			<table>
				<!-- 예약환불 규정 내용 -->
			</table>
		</div>
		
		<div class="content_right">
			결제폼?
		</div>
		
		<div class="footer">
			<!-- footer 내용 -->
			Footer 내용 추가 예정
		</div>
	</div>
</body>
</html>