<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cndsalon.repository.shop.CndSalonMapper">

	<!-- ShopInfoMain : 기본 조건 검색(자기 위치 기반 10개) -->
	<select id="getAll" resultType="CndSalonShopInfoVO">
	
		SELECT D.* FROM (SELECT ROW_NUMBER() OVER(ORDER BY S_LOCALE) AS RNUM,
		C.* FROM(SELECT DENSE_RANK() OVER (PARTITION BY A.S_CODE ORDER BY B.S_PHOTONAME) AS NO, 
		round((( ACOS(SIN(${userLocalX} * 3.14159265359 / 180) * 
		SIN(S_GPS_X * 3.14159265359 / 180) + COS(${userLocalX} * 3.14159265359 / 180) * 
		COS(S_GPS_X * 3.14159265359 / 180) * 
		COS((${userLocalY} - S_GPS_Y)* 3.14159265359 / 180)) * 180 / 3.14159265359) * 60 * 1.1515),3) AS S_LOCALE,
		A.*,B.S_PHOTOPATH, B.S_PHOTONAME, B.S_PHOTONAME_ORIGIN FROM SHOP_INFO_TBL A, SHOP_PHOTO_TBL B 
		WHERE A.S_CODE = B.S_CODE(+))C WHERE NO <![CDATA[ < ]]> 2 ORDER BY S_LOCALE)D 
		WHERE RNUM BETWEEN (1-1)*10+1 AND 1*10 
		
	</select>
	
		<!-- SearchShop : 부가서비스 선택 검색 -->
	<select id="searchShop" resultType="CndSalonShopInfoVO">
		SELECT D.* FROM (SELECT ROW_NUMBER() OVER(ORDER BY S_LOCALE) AS RNUM,C.* FROM 
		(SELECT DENSE_RANK() OVER (PARTITION BY A.S_CODE ORDER BY B.S_PHOTONAME) AS NO, 
		round((( ACOS(SIN(${userLocalX} * 3.14159265359 / 180) * SIN(S_GPS_X * 3.14159265359 / 180) +
		COS(${userLocalX} * 3.14159265359 / 180) * COS(S_GPS_X * 3.14159265359 / 180) * COS((${userLocalY} - S_GPS_Y)
		* 3.14159265359 / 180)) * 180 / 3.14159265359) * 60 * 1.1515),3) AS S_LOCALE,
        A.* ,B.S_PHOTOPATH, B.S_PHOTONAME, P.P_CAT,P.P_DOG,P.P_SHORT,P.P_LONG,P.P_SMALL,P.P_MEDIUM,P.P_LARGE 
        FROM SHOP_INFO_TBL A INNER JOIN SHOP_PHOTO_TBL B ON A.S_CODE = B.S_CODE INNER JOIN SHOP_PRODUCT_TBL P ON A.S_CODE = P.S_CODE)C
		WHERE NO <![CDATA[ < ]]> 2 ORDER BY S_LOCALE)D WHERE NO <![CDATA[ >=]]> 1  
 		
      	<if test="sParking == 1" >AND S_PARKING = 1</if>
      	<if test="sWifi == 1" >AND S_WIFI = 1</if>
      	<if test="sSubway == 1" >AND S_SUBWAY = 1</if>
      	<if test="sCharge == 1" >AND S_CHARGE = 1</if>
      	<if test="sPickup == 1" >AND S_PICKUP = 1</if>
      	<if test="sBigdog == 1" >AND S_BIGDOG = 1</if>
      	<if test="pCat == 1" >AND P_CAT = 1</if>
      	<if test="pDog == 1" >AND P_DOG = 1</if>
      	<if test="pShort == 1" >AND P_SHORT = 1</if>
      	<if test="pLong == 1" >AND P_LONG = 1</if>
      	<if test="pSmall == 1" >AND P_SMALL = 1</if>
      	<if test="pMedium == 1" >AND P_MEDIUM = 1</if>
      	<if test="pLarge == 1" >AND P_LARGE = 1</if> 
		
	</select>
	<!-- ShopDetail : sCode로 업체정보 상세검색 -->
	<select id="getShopDetail" resultType="CndSalonShopInfoVO" >
		SELECT A.*, B.P_CAT,B.P_DOG,B.P_SHORT,B.P_LONG,B.P_SMALL,B.P_MEDIUM,B.P_LARGE FROM SHOP_INFO_TBL A
		INNER JOIN SHOP_PRODUCT_TBL B ON A.S_CODE = B.S_CODE WHERE A.S_CODE = #{sCode}
	</select>
	<!-- ShopProductPhoto : sCode로 업체상품사진 검색 -->
	<select id="getShopProductPhoto" resultType="CndSalonShopProductPhotoVO" >
		SELECT A.S_CODE, B.P_PHOTOPATH,B.P_PHOTONAME,B.P_PHOTONAME_ORIGIN FROM SHOP_INFO_TBL A
		INNER JOIN SHOP_PRODUCT_PHOTO_TBL B ON A.S_CODE = B.S_CODE
		WHERE A.S_CODE = #{sCode}
	</select>
		<!-- ShopDesignerInfo : sCode로 디자이너INFO 검색 -->
	<select id="getShopDesignerInfo" resultType="CndSalonShopDesignerVO" >
		SELECT A.*, B.D_PHOTOPATH,B.D_PHOTONAME,B.D_PHOTONAME_ORIGIN FROM SHOP_DESIGNER_TBL A
		INNER JOIN SHOP_DESIGNER_PHOTO_TBL B ON A.D_CODE = B.D_CODE
		WHERE A.S_CODE = #{sCode}
	</select>
	<select id="getReview" resultType="CndSalonReviewVO">
		SELECT * FROM REVIEW_DETAIL_TBL WHERE S_CODE = #{sCode} ORDER BY R_DATE
	</select>
</mapper>