<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>C&D | 애견 전문 헤어샵  </title>
        <!-- geolocation 사용을 위한 google api 연결 -->
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" th:href="@{'/static/css/main/icon-font.css'}">
        <link rel="stylesheet" th:href="@{'/static/css/main/style_shop_info.css'}">
        <link rel="shortcut icon" type="image/png" th:href="@{/static/img/main/favicon.ico}">
        <script src="https://kit.fontawesome.com/6938c44e7b.js" crossorigin="anonymous"></script>
        <!-- kakao 지도 사용을 위한 kakao api 연결 -->
		<!-- local 에서 프로젝트실행할때 -->
        <script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=3c9880671d9e20c5afbc27db5eb2beed&libraries=services"></script>
         
        <!-- server 에서 프로젝트실행할때-->
		<!-- <script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=2642961e5fa380023a366649b5b6ae53&libraries=services"></script> -->
        
        <!-- kakao 주소검색 사용을 위한 kakao post api 연결 -->
		<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>		
		<script th:src="@{'/static/js/jquery-3.5.1.min.js'}" charset="UTF-8"></script>
		<!-- navigator menu button action js -->
		<script th:src="@{'/static/js/shop/shop_search_my.js'}" charset="UTF-8"></script>
		<!-- 내주변 검색 기능 사용을 위한 js -->
    	<script th:src="@{'/static/js/shop/shop_search_main.js'}" charset="UTF-8"></script>
    </head>
<body>
    <!--메뉴바-->
    <nav id="navbar">
        <div class="navbar__logo">
            <a onclick='shop_home()'><img class="navbar__logo__image" th:src="@{'/static/img/main/logo.png'}">C&D</a>
        </div>
        <div class="navbar__menu">
            <ul class="navbar__menu">
                <a style="cursor:pointer" onclick='shop_main_search()'>
                <li class="navbar__menu__item">내 주변</li></a>
                <li class="navbar__menu__item">입점 문의</li>
                <li class="navbar__menu__item"><a th:href="@{/bookinghome/status/all}">예약</a></li>
                <li class="navbar__menu__item active">로그인</li>
            </ul>
        </div>
    </nav>
    <!--메뉴바 END--> 
    <!--지역 검색 및 필터-->
    <section id="locations">
        <div class="location">
            <strong class="location__select"><a href="#">
                위치기반으로 주소 뜨는 곳!
                <i class="icon-basic-paperplane"></i></a>
            </strong>
            <input type="button" id="location_change" class="location__change" value="지역변경">

        <form class="filter__menu" id="searchFilter" method="GET">
   		<!-- 고양이 히든 -->
   		<input class="filter_value_sum" id="pCat" name="pCat" type="hidden" value="0" >   		
		<input class="filter_value_sum" id="pShort" name="pShort" type="hidden" value="0" >
		<input class="filter_value_sum" id="pLong" name="pLong" type="hidden" value="0" >
		
		<!-- 강아지 히든 -->
		<input class="filter_value_sum" id="pDog" name="pDog" type="hidden" value="0" >
		<input class="filter_value_sum" id="pSmall" name="pSmall" type="hidden" value="0" >
		<input class="filter_value_sum" id="pMedium" name="pMedium" type="hidden" value="0" >
		<input class="filter_value_sum" id="pLarge" name="pLarge" type="hidden" value="0" >
		
		<!-- 매장부가조건 히든 -->
		<input class="filter_value_sum" id="sParking" name="sParking" type="hidden" value="0" >
		<input class="filter_value_sum" id="sWifi" name="sWifi" type="hidden" value="0" >
		<input class="filter_value_sum" id="sSubway" name="sSubway" type="hidden" value="0" >
		<input class="filter_value_sum" id="sCharge" name="sCharge" type="hidden" value="0" >
		<input class="filter_value_sum" id="sPickup" name="sPickup" type="hidden" value="0" >
		<input class="filter_value_sum" id="sBigdog" name="sBigdog" type="hidden" value="0" >
		<!-- 자기위치 히든 -->
		<input id="userLocalX" name="userLocalX" type="hidden" value="" >
		<input id="userLocalY" name="userLocalY" type="hidden" value="" > 
		<input id="searchButton" type="button"  value="검색"/>
		</form>
		<table border ="1">
		<tr>
		<td><input class="pCat" type="button"
		 onclick='filterClick_cat_menu(pCat.value,"pCat")'
		 value="고양이" ></td>
		</tr>
		<tr>		
		<td><input class="pShort" type="button" onclick='filterClick(pShort.value,"pShort")' value="단모" ></td>
		<td><input class="pLong" type="button" onclick='filterClick(pLong.value,"pLong")' value="장모" ></td>		
		</tr>
		<tr>
		<td><input class="pDog" type="button"
		 onclick='filterClick_dog_menu(pDog.value,"pDog")'
		 value="강아지" ></td>
		</tr>		
		<tr>		
		<td><input class="pSmall" type="button" onclick='filterClick(pSmall.value,"pSmall")' value="소형견" ></td>
		<td><input class="pMedium" type="button" onclick='filterClick(pMedium.value,"pMedium")' value="중형견" ></td>
		<td><input class="pLarge" type="button" onclick='filterClick(pLarge.value,"pLarge")' value="대형견" ></td>		
		</tr>		
		<tr>
		<td><input class="sParking" type="button" onclick='filterClick(sParking.value,"sParking")' value="주차가능" ></td>
		<td><input class="sWifi" type="button" onclick='filterClick(sWifi.value,"sWifi")' value="Wifi 가능" ></td>
		<td><input class="sSubway" type="button" onclick='filterClick(sSubway.value,"sSubway")' value="지하철 주변" ></td>
		<td><input class="sCharge" type="button" onclick='filterClick(sCharge.value,"sCharge")' value="추가요금 없음" ></td>
		<td><input class="sPickup" type="button" onclick='filterClick(sPickup.value,"sPickup")' value="픽업 가능" ></td>
		<td><input class="sBigdog" type="button" onclick='filterClick(sBigdog.value,"sBigdog")' value="대형견 가능" ></td>
		</tr>
		</table>  

    </div>
    </section>

    <!--지도-->
    <section id="maps">
           <div id="map" ></div>     
    </section>

    <!--헤어샵 목록-->
    <section id="shops">

    </section>
        
</body>
</html>