<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>C&D | 애견 전문 헤어샵  </title>

        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" th:href="@{'/static/css/main/icon-font.css'}">
        <link rel="stylesheet" th:href="@{'/static/css/main/style_shop_info.css'}">
        <link rel="shortcut icon" type="image/png" th:href="@{/static/img/main/favicon.ico}">
        <script src="https://kit.fontawesome.com/6938c44e7b.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=3c9880671d9e20c5afbc27db5eb2beed&libraries=services"></script>
		<script th:src="@{'/webjars/jquery/3.5.1/jquery.min.js'}" charset="UTF-8"></script>
	
    </head>
<body>
    <!--메뉴바-->
    <nav id="navbar">
        
        <div class="navbar__logo">
            <a href="#"></a><img class="navbar__logo__image" th:src="@{'/static/img/main/logo.png'}">C&D</a>
        </div>

        <div class="navbar__menu">
            <ul class="navbar__menu">
                <a style="cursor:pointer" onclick='shop_search_ajax()'>
                <li class="navbar__menu__item">내 주변</li></a>
                <li class="navbar__menu__item">입점 문의</li>
                <li class="navbar__menu__item">예약</li>
                <li class="navbar__menu__item active">로그인</li>
            </ul>
        </div>
        
    </nav>

    <section id="shops">
    <input type="button" value="예약하기" th:onclick="'window.location.href = \'' + @{/booking} + '\''" />
<table border='1'>
        <tr>
            <td>매장 코드</td>
            <td>매장 이름</td>
            <td>매장 주소</td>
            <td>매장 전화번호</td>
            <td>매장 운영 시간</td>
            <td>매장 소개글 제목</td>
            <td>매장 소개글 내용</td>
            <td>주차가능 여부</td>
            <td>Free wifi</td>
            <td>지하철근처</td>
            <td>추가요금 없음</td>
            <td>픽업 가능</td>
            <td>대형견 가능</td>
            <td>디자이너 평점 총합 의 평균</td>
        </tr>
        <tr>
            <td th:text="${shopinfo.sCode}">
            </td>
            <td th:text="${shopinfo.sName}"></td>
            <td th:text="${shopinfo.sAddr}"></td>
            <td th:text="${shopinfo.sPhone}"></td>
            <td th:text="${shopinfo.sTime}"></td>
            <td th:text="${shopinfo.sTitle}"></td>
            <td th:text="${shopinfo.sContent}"></td>            
            <th:block>
            <td th:if="${shopinfo.sParking==true}">가능</td>
            <td th:unless="${shopinfo.sParking==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shopinfo.sWifi==true}">가능</td>
            <td th:unless="${shopinfo.sWifi==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shopinfo.sSubway==true}">가능</td>
            <td th:unless="${shopinfo.sSubway==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shopinfo.sCharge==true}">가능</td>
            <td th:unless="${shopinfo.sCharge==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shopinfo.sPickup==true}">가능</td>
            <td th:unless="${shopinfo.sPickup==true}">불가</td>
            </th:block>
            <th:block>
            <td th:if="${shopinfo.sBigdog==true}">가능</td>
            <td th:unless="${shopinfo.sBigdog==true}">불가</td>
            </th:block>           
            <td th:text="${shopinfo.sAvgScore}"></td>                                   
        </tr>
	
</table>
<table border ="1">
<tr>
	<tr th:each="sphoto : ${shopphoto}">
    <td th:text="${sphoto.sCode}"></td>
     <td ><img th:src="@{'/upload_image/'+${sphoto.pPhotopath}+${sphoto.pPhotoname}}" width=100 height=100/></td>
  </tr>
</table>
<table border ="1">
<tr>
	<tr th:each="dinfo : ${deginerinfo}">
    <td th:text="${dinfo.sCode}"></td>
     <td ><img th:src="@{'/upload_image/'+${dinfo.dPhotopath}+${dinfo.dPhotoname}}" width=100 height=100/></td>
     <td th:text="${dinfo.dName}"></td>
  </tr>
</table>
<table border ="1">
<tr>
	<tr th:each="reviewlist : ${review}">
    <td th:text="${reviewlist.rCode}"></td>
     <td th:text="${reviewlist.rWriter}"></td>
     <td th:text="${reviewlist.rTitle}"></td>
     <td th:text="${reviewlist.rDate}"></td>
  </tr>
</table>
 </section>
        
</body>
</html>