<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{'/static/css/main/style_shop_review.css'}">
    <link rel="stylesheet" th:href="@{'/static/css/main/bootstrap.min.css'}">
    <title>리뷰페이지</title>
</head>
<body>
    
    <!--Navigation -->
<div id=navs>
    <nav class="navbar navbar-dark bg-dark">
        <h1><a href="" class="navbar-brand">C&D</a></h1>

        <form class="form-inline">
            <input type="text" class="form-control" placeholder="검색을하시오">
            <button type="submit" class="btn btn-secondary">검색</button>
        </form>
    </nav>

    <nav class="breadcrumb">
        <span class="breadcrumb-item active">무엇을 넣을까</span>
    </nav>
</div>

    <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="h4 text-white bg-dark mb-0 p-3 rounded-top">리뷰 게시판</h2>
            <table class="table table-striped table-bordered table-responsive-lg">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="number-col">번호</th>
                  <th scope="col" class="topic-col">제목</th>
                  <th scope="col" class="created-col">작성자</th>
                  <th scope="col" class="created-date-col">작성일</th>
                </tr>
              </thead>
              
              <tbody>

                <tr>
                  <td>1</td>
                  <td><h3 class="h6"><span class="badge badge-primary">Best</span> <a href="#">강아지가 솜사탕으로 변했어요!</a></h3></td>
                  <td>심현종</td>
                  <td>2020-12-08 13:46</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td><h3 class="h6"><span class="badge badge-primary">Best</span> <a href="#">강아지가 솜사탕으로 변했어요!</a></h3></td>
                    <td>손우섭</td>
                    <td>2020-12-08 13:46</td>
                  </tr>

                <tr>
                    <td>3</td>
                    <td><h3 class="h6"><span class="badge badge-primary">Best</span> <a href="#">강아지가 솜사탕으로 변했어요!</a></h3></td>
                    <td>김진혁</td>
                    <td>2020-12-08 13:46</td>
                  </tr>
             
                <tr>
                  <td>4</td>
                  <td><h3 class="h6"><a href="#">강아지가 보신탕으로.........</a></h3></td>
                  <td>지준규</td>
                  <td>2020-12-08 13:46</td>
                </tr>
                
                <tr>
                    <td>5</td>
                    <td><h3 class="h6"><a href="#">강아지가 고양이로.........</a></h3></td>
                    <td>이찬우</td>
                    <td>2020-12-08 13:46</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td><h3 class="h6"><a href="#">강아지가 고양이로.........</a></h3></td>
                    <td>이찬우</td>
                    <td>2020-12-08 13:46</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td><h3 class="h6"><a href="#">강아지가 고양이로.........</a></h3></td>
                    <td>이찬우</td>
                    <td>2020-12-08 13:46</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td><h3 class="h6"><a href="#">강아지가 고양이로.........</a></h3></td>
                    <td>이찬우</td>
                    <td>2020-12-08 13:46</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td><h3 class="h6"><a href="#">강아지가 고양이로.........</a></h3></td>
                    <td>이찬우</td>
                    <td>2020-12-08 13:46</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td><h3 class="h6"><a href="#">강아지가 고양이로.........</a></h3></td>
                    <td>이찬우</td>
                    <td>2020-12-08 13:46</td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td><h3 class="h6"><a href="#">강아지가 고양이로.........</a></h3></td>
                    <td>이찬우</td>
                    <td>2020-12-08 13:46</td>
                  </tr>

                </tbody>
            </table>
          </div>
        </div>

        <div class="mb-3 clearfix">
          <nav aria-label="Navigate post pages" class="float-lg-right">
            <ul class="pagination pagination-sm mb-lg-0">
              <li class="page-item active"><a href="#" class="page-link">1 <span class="sr-only">(current)</span></a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">5</a></li>
              <li class="page-item"><a href="#" class="page-link">&hellip; 31</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </nav>
          <form class="form-inline float-lg-left d-block d-sm-flex">
            <div class="form-group mr-2">
              <label class="sr-only" for="select-time">Time period</label>
              <select class="form-control form-control-sm" id="select-time">
                <option value="all-posts" selected>전체</option>
                <option value="day">1 일</option>
                <option value="week">1 주</option>
                <option value="month">1 달</option>
                <option value="year">1 년</option>
              </select>
            </div>
            <div class="mb-2 mb-sm-0 mr-2">분류:</div>
            <div class="form-group mr-2">
              <label class="sr-only" for="select-sort">분류</label>
              <select class="form-control form-control-sm" id="select-sort">
                <option value="author">이름</option>
                <option value="post-time" selected>최신</option>
                <option value="replies">댓글</option>
                <option value="subject">제목</option>
                <option value="views">조회</option>
              </select>
            </div>
            <div class="form-group mr-2">
              <label class="sr-only" for="select-direction">Sort direction</label>
              <select class="form-control form-control-sm" id="select-direction">
                <option value="post-time">오름차순</option>
                <option value="author" selected="">내림차순</option>
              </select>
            </div>
            <button type="submit" class="btn btn-sm btn-secondary">검색</button>
          </form>
        </div>
        <a href="new-topic.html" class="btn btn-lg btn-secondary">새 리뷰 작성하기</a>
      </div>
    
    <!--Footer-->
    <footer class="small bg-dark text-white">
      <div class="container py-4">
        <ul class="list-inline">
            <li class="list-inline-item">&copy; 2020 C&D Comapny, Inc</li>
            <li class="list-inline-item">All rights reserved.</li>
        </ul>
      </div>  
    </footer>

    <!--jQeury&Bootstrap-->
    <script type="text/javascript" th:src="@{'/static/js/jquery-3.3.1.min.js'}"></script>
    <script type="text/javascript" th:src="@{'/static/js/bootstrap.bundle.min.js'}"></script>
</body>
</html>