<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!-- jQuery -->
<script th:src="@{'/webjars/jquery/3.5.1/jquery.min.js'}" charset="UTF-8"></script>

<script type="text/javascript" src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=3c9880671d9e20c5afbc27db5eb2beed&libraries=services"></script>

<!-- javascript 외장화  -->
<script th:src="@{'/static/shop/js/shoplocation.js'}" charset="UTF-8"></script>
<title>Test ajax (kakao REST API)</title>
</head>
<body>
Test ajax (kakao REST API)<p>
	<h1>위도 : <span id="latitude"></span></h1>
	<h1>경도 : <span id="longitude"></span></h1>
<hr>
<table>
<tr th:each="shoplist : ${list}">
	<td th:t="${shoplist.sAddr}" ></td>
</table>
<script>

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch('서울특별시 강남구 논현로132길 24 양현빌딩 2층/5층', function(result, status) {

    // 정상적으로 검색이 완료됐으면 
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
		$('#latitude').text(result[0].y);
		$('#longitude').text(result[0].x);

    } 
}); 
</script>

</body>
</html>